@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

body {
    background-color: #F7F6F3;
    margin: 0;
    box-sizing: border-box;
}

.main_background {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    background: url(img/90s_holographic.jpg) no-repeat center;
    background-size: cover;
}

.main_glass_effect {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 22rem;
    margin-top: 5.5rem;
    background: #f8f8f8;
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(9px);
}

#pomodoro_button {
    position: relative;
    background: transparent;
    border: 0;
    font-family: 'Playfair Display SC', serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 2rem;
    padding: 5px 50px;
    transition: all .25s;
}

#pomodoro_button::after, #pomodoro_button::before {
    position: absolute;
    border: 2px solid #ffffff;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .25s;
}

#pomodoro_button:hover::after {
    transform: translate(-5px, -5px);
}

#pomodoro_button:hover::before {
    transform: translate(5px, 5px);
}

.timerControl {
    position: absolute;
    color: #F7F6F3;
    margin-top: 18rem;
    font-size: 2rem;
}

.timer{
    position: absolute;
    font-family: 'Playfair Display SC', serif;
    color: #F7F6F3;
    margin-top: 7rem;
    font-weight: 500;
    font-size: 7rem;
}
