@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

body {
    background-color: #F7F6F3;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.main_background {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    background: url(img/90s_holographic.jpg) no-repeat center;
    background-size: cover;
}

.main_glass_effect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 22rem;
    margin-top: 5.5rem;
    margin-left: 10rem;
    background: #f7f6f3;
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(9px);
}


#pomodoroButton {
    position: relative;
    background: transparent;
    border: 0;
    font-family: 'Playfair Display SC', serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: -1rem;
    margin-left: 15rem;
    padding: 5px 50px;
    transition: all .25s;
}
#pomodoroButton::after, #pomodoroButton::before {
    position: absolute;
    border: 2px solid #ffffff;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .25s;
}
#pomodoroButton:hover::after {
    transform: translate(-5px, -5px);
}
#pomodoroButton:hover::before {
    transform: translate(5px, 5px);
}

.timer{
    font-family: 'Playfair Display SC', serif;
    color: #F7F6F3;
    margin-top: 15rem;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 6rem;
}

#shortButton {
    position: relative;
    color: #ffffff;
    background: transparent;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    font-size: 1.2rem;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 15px;
    width: 6rem;
    overflow: hidden;
    z-index: 0;
}
#shortButton::before{
    position: absolute;
    content: '';
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60% 40% 0 0;
    background: #ffffff;
    transition: all 1.2s;
    z-index: -1;
}
#shortButton:hover::before{
    top: 0;
    border-radius: 0;
}

#longButton {
    position: relative;
    color: #ffffff;
    background: transparent;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    font-size: 1.2rem;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 15px;
    width: 6rem;
    overflow: hidden;
    z-index: 0;
}
#longButton::before{
    position: absolute;
    content: '';
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60% 40% 0 0;
    background: #ffffff;
    transition: all 1.2s;
    z-index: -1;
}
#longButton:hover::before{
    top: 0;
    border-radius: 0;
}

.timerControl {
    position: absolute;
    color: #F7F6F3;
    font-size: 2rem;
    margin-top: -1rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 100%;
}
.scroll_down{
    position: relative;
    height: 50px;
    width: 30px;
    border: 2px solid #505050;
    border-radius: 50px;
    cursor: pointer;
}
.scroll_down::before,
.scroll_down::after{
    position: absolute;
    content: '';
    top: 20%;
    left: 50%;
    border: 2px solid #505050;
    height: 9px;
    width: 9px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll_down 1.5s ease-in-out infinite;
}
.scroll_down::after{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll_down {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

#todo_list {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 60rem;
    overflow: hidden;
    background: url(img/90s_holographic_bg.jpg) no-repeat center;
    background-size: cover;
}
.todo_glass_effect{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 50rem;
    margin-top: 5.5rem;
    background: #f7f6f3;
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(9px);
}